body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.halp_page{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 3%;
}
.halp_page p{
    text-align: justify;
}
.halp_page img{
   width: 100%;
}